/tmp
/out-tsc

/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.pnp
.pnp.js
**/coverage/**
**/coverage.lcov
**/.yarn/install-state.gz
frontend/e2e/__tests__/results/**
frontend/playwright-report/**

.vscode/*
.idea
